@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
 --White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font size (paragraph): 15px
font-family: 'Outfit', sans-serif; */

body{
    font-family:'Outfit', sans-serif ;
    background-color: var(--Light-gray);
    font-size: 15px;
    min-height: 100vh;
    display: flex;
    align-items: center;
   
}

.container{
    max-width: 360px;
    margin: 0 auto;

}

.img{
    background-color: var(--White);
    padding: 18px;
    border-radius: 18px;
    text-align: center;
    margin: 0 1em;
}

.img img{
    width: 100%;
    border-radius: 12px;
}

.cont{
    padding: 22px 10px;
}

.con1{
    color: var(--Dark-blue);
    padding-bottom: 15px;
}

.con2{
    color: var(--Grayish-blue);
}


